@font-face {
  font-family: "GmarketSans";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/GmarketSansTTF/GmarketSansTTFLight.ttf")
    format("truetype");
}

@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/GmarketSansTTF/GmarketSansTTFMedium.ttf")
    format("truetype");
}

@font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/GmarketSansTTF/GmarketSansTTFBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "GasoekOne";
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/GasoekOne/GasoekOne-Regular.ttf") format("truetype");
}
